pre, code {
    white-space: pre;
    background-color: #f8f8f1;
}
table {
    width: auto !important;
    table-layout: auto !important;
}
.current_year {
    background-color: #dbdbda;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    font-size: 12px;
}