<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            {% block styles %}
                <!-- Bootstrap CSS -->
                {{ bootstrap.load_css() }}
                <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
            {% endblock %}

            <title>Röda dagar</title>
        {% endblock %}
    </head>
    <body>
       
        <!-- Your page content -->
        {% block content %}
        {% endblock %}

        
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script>
            $(document).ready(function () {
                $('#sortTable').DataTable();
            });
            </script>
        {% endblock %}


    

    </body>
    <footer>
        This is possible due to the amazing open and free API at <a href="https://sholiday.faboul.se/">https://sholiday.faboul.se/</a><br>
        This page was created just for fun, all code is public in <a href="https://github.com/MazrimT/reddays">Github</a>
    </footer>
</html>

