{%- extends 'base.html' %}

{% block content %}
<center>
<a href="{{ url_for('index.v_index') }}" style="text-decoration: none; color: black;"><font size="14">Röda dagar</a></font>

<br>
<form method="POST" action="">
    <select class="form-control form-control-lg" name="year" id="view" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="width: auto" onchange="this.form.submit()">
        {% for year in years %}
        <option value="{{ year }}" {% if year == default_year %} selected {% endif %}{% if year == current_year %}class="current_year"{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
    <br>
    <input class="form-check-input" name="checkbox" type="checkbox" value="" id="checkbox" onchange="this.form.submit()" {% if not show_weekend %}checked{% endif %}>
    <label class="form-check-label" for="checkbox">
      Dölj veckoslut
    </label>

</form>  

<br>
<table class="table table-striped table-bordered table-hover mx-auto" id="sortTable">
    <tr> 
        <th> Vecka </th>
        <th> Datum </th> 
        <th> Veckodag </th>
        <th> Helgdag </th> 
    </tr>
{% for day in days %}
    <tr>
        <td>{{ day.week }}</td>
        <td>{{ day.date }}</td>
        <td>{{ day.weekday }}</td>
        <td>{{ day.holiday }}{% if not day.red %} *{% endif %}{% if day.flag %} <img src="{{ url_for('static', filename='images/flagga_small.gif') }}" title="{{ day.flag_reason }}" alt="{{ day.flag_reason }}" width="15" height="10">{% endif %}</td>
    </tr>
{% endfor %}

</table>
{% if has_none_red %}<font size="2px">* ej lagstadgad svensk helgdag men arbetsfri dag på många arbetsplatser och kollektivavtal.</font>{% endif %}
<br>
<br>
<a href="https://rkrattsbaser.gov.se/sfst?bet=1989:253" target=”_blank”>Lag om allmänna helgdagar</a>
<br>
<br>
</center>
{% endblock %}